#first{
    display:flex;
    flex-direction: column;
    border: 1px black solid;
    margin: 10px;
    padding-left: 10px;
}
h3{
    margin: 5px;
    font-weight:400;
}
strong{
    font-weight: bolder;
    color: black;
}
#secound{
    border: 1px black solid; 
    margin: 10px;
    background-color: #E0ECF6;  
}
#row1{

    display: flex;
    justify-content: space-between;
}
#time{
    margin-right: 100px;
}

.font{
    font-weight: 800;
}
.sub{
    margin-top: 0px;
    font-weight: 600;
}

label{
    font-weight: 200;
}
#third{
    border: 1px black solid;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
  }
  #pro{
    align-self: flex-start;
    margin-left: 15px;
  }
  h5{
    font-weight: 400;
    margin-top: 1px;
    
  }
  img{
    margin-left: 15px;
    height: 200px;
    width: 150px;
  }
  input{
    width: 20px;
    height: 19px;
  }


