html,body{
  height: 100%;
  width: 100%;
}
#header{
  background-color: #E0ECF6; 
  margin-top: 0.5em;
  padding: 0 0.5rem ;
  display: flex;
  justify-content: space-between;
  border: black solid 1px;
}
h1{
  margin: 0px;
}
.arr{
  align-self: center;
}
.name{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  height: 40px;
  align-self: center;
  padding: 0 25px;
  background-color: black;
  color: white;
  font-weight: 700;
}
button:hover{
  color: black;
  background-color: beige;
}