
.main{
  border: 2px solid darkblue;
  padding: 1rem;
  width: 20vw;
  padding-right: 2rem;
}
img{
  width: 20vw;
  border-radius: 15px;
}
h1{
  color: blue;
}
h3{
  margin-top: 0px;
}
label{
  font-weight: 500;
}
