html,body{
  height: 100%;
  width: 100%;
}
#header{
  background-color: #E0ECF6; 
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  border: black solid 1px;
}
button{
  width: inherit;
  height: 50px;
  justify-self:center;
  margin-top: 18px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 10px;
  background-color: black;
  color: antiquewhite;
  margin-top: 6px;
}
h2{
  justify-self: center;
  margin-left: 10px;
  margin-top: 9px;

}
h1{
  margin-bottom: -4px;
  margin-top: -1px;
}
label{
  margin-left: 35px;
}
